<div class="bg-white pt-10 flex">
  <%= form_with(model: customer_visit_history, local: true, class: "w-full") do |f| %>
    <div class="border shadow-md rounded w-full p-5">
      <div class="py-5">
        <div class="flex justify-between px-4">
          <%= f.label "顧客", class: "block text-sm font-bold text-xl mb-2 text-gray-700" %>
        </div>
        <%= f.collection_select :customer_id, Customer.all, :id, :name, { }, { :class => "mt-5 hover:bg-gray-100 py-2 px-4 cursor-pointer" } %>
      </div>
    </div>
    <div class="border shadow-md rounded w-full p-5 my-5">
      <div class="py-5">
        <div class="flex justify-between px-4">
          <%= f.label "来店日時", class: "block text-sm font-bold text-xl mb-2 text-gray-700" %>
        </div>
        <div class="px-4">
          <%= f.datetime_field :visit_datetime, class: "mt-5 hover:bg-gray-100 py-2 cursor-pointer" %>
        </div>
      </div>
    </div>
    <div class="border shadow-md rounded w-full p-5">
      <div class="py-5">
        <div class="flex justify-between px-4">
          <%= f.label "メニュー", class: "block text-sm font-bold text-xl mb-2 text-gray-700" %>
        </div>
        <ul class="flex flex-col">
          <% Menu.all.each do |menu| %>
            <li class="inline-flex items-center hover:bg-gray-100 gap-x-3.5 py-1.5 px-4 my-1.5 text-sm font-medium bg-white border-gray-200 text-gray-800 -mt-px cursor-pointer">
              <%= check_box_tag "menu_ids[]", menu.id, @customer_visit_history.selected_menu_snapshots.exists?(menu_id: menu.id), id: dom_id(menu) %>
              <p><%= label_tag dom_id(menu), menu.name %></p>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    </div>
    <div class="pt-8">
      <%= f.submit "登録", class: "block py-1 px-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded border border-transparent bg-gray-900 text-white hover:bg-gray-700 disabled:opacity-50 disabled:pointer-events-none" %>
    </div>
  <% end %>
</div>