<div class="py-8">
  <div class="flex justify-center bg-white border rounded shadow-md p-10">
    <div class="bg-white py-8 w-3/12 items-center">
      <%= form_with(model: customer_visit_history, local: true) do |f| %>

        <div class="flex flex-col pb-8">
          <%= f.label "顧客", class: "block text-sm font-medium mb-2" %>
          <%= f.collection_select :customer_id, Customer.all, :id, :name, { }, { :class => "border py-2 px-3 cursor-pointer" } %>
        </div>

        <div class="flex flex-col pb-8">
          <%= f.label "来店日時", class: "block text-sm font-medium mb-2" %>
          <%= f.datetime_field :visit_datetime, class: "border py-2 px-3 cursor-pointer" %>
        </div>

        <div class="flex flex-col pb-8">
          <%= f.label "メニュー", class: "block text-sm font-medium mb-2" %>
          <ul class="flex flex-col">
            <% Menu.all.each do |menu| %>
              <li class="inline-flex items-center hover:bg-gray-100 gap-x-3.5 py-1.5 px-4 my-1.5 text-sm font-medium bg-white border-gray-200 text-gray-800 -mt-px cursor-pointer">
                <%= check_box_tag "menu_ids[]", menu.id, @customer_visit_history.selected_menu_snapshots.exists?(menu_id: menu.id), id: dom_id(menu) %>
                <p><%= label_tag dom_id(menu), menu.name %></p>
              </li>
            <% end %>
          </ul>
        </div>

        <div class="flex justify-center py-8">
          <% if params[:action] == 'edit' %>
            <%= f.submit class: "block py-1 px-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded border border-transparent bg-yellow-900 text-white hover:bg-yellow-700 cursor-pointer" %>
          <% else %>
            <%= f.submit class: "block py-1 px-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded border border-transparent bg-gray-900 text-white hover:bg-gray-700 cursor-pointer" %>
          <% end %>
        </div>
      <% end %>

      <div class="flex justify-center items-center">
        <% if params[:action] == 'edit' %>
          <%= link_to "キャンセル", customer_path(@customer), class: "inline-block text-gray-700 hover:text-gray-500" %>
        <% else %>
          <%= link_to "戻る", customers_path, class: "inline-block text-gray-700 hover:text-gray-500" %>
        <% end %>
      </div>
    </div>
  </div>
</div>