<h1>メニュー詳細</h1>

<%= flash[:notice] %>

<p>
  <strong>メニュー名:</strong>
  <%= @menu.name %>
</p>

<p>
  <strong>価格:</strong>
  <%= @menu.price %>円
</p>

<%= link_to '編集', edit_menu_path(@menu) %> |
<%= link_to '削除', menu_path(@menu), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか?' } %> |
<%= link_to '戻る', menus_path %>
