<h1 class="text-3xl text-gray-700">アカウント編集</h1>

<% if @admin.errors.any? %>
  <ul>
    <% @admin.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="py-8">
  <div class="flex justify-center bg-white border rounded shadow-md p-10">
    <div class="bg-white py-8 w-3/12 items-center">
      <%= form_with(model: @admin, url: super_admin_path(@admin), method: :patch, local: true) do |f| %>

        <div>
          <div class="flex flex-col pb-8">
            <%= f.label :name, class: "block text-sm font-medium mb-2" %>
            <%= f.text_field :name, class: "py-3 pl-4 pr-20 border block border-gray-300 rounded text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none", autofocus: true, autocomplete: "name" %>
          </div>

          <div class="flex flex-col pb-8">
            <%= f.label :email, class: "block text-sm font-medium mb-2" %>
            <%= f.email_field :email, class: "py-3 pl-4 pr-20 border block border-gray-300 rounded text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none", autofocus: true, autocomplete: "email" %>
          </div>

          <% if current_admin.id == @admin.id %>
            <div class="flex flex-col pb-8">
              <%= f.label :password, class: "block text-sm font-medium mb-2" %>
              <%= f.password_field :password, autocomplete: "new-password", class: "py-3 pl-4 pr-20 border block border-gray-300 rounded text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" %>
            </div>

            <div class="flex flex-col pb-8">
              <%= f.label :password_confirmation, class: "block text-sm font-medium mb-2" %>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "py-3 pl-4 pr-20 border block border-gray-300 rounded text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" %>
            </div>
          <% end %>

          <div class="mt-8 flex justify-center space-x-2">
            <%= f.submit class: "flex justify-center content-center py-3 px-4 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" %>
          </div>
          <div class="flex justify-center items-center mt-8">
            <%= link_to "キャンセル", super_admin_path(@admin), class: "inline-block text-gray-700 hover:text-gray-500" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

