<h1 class="text-3xl text-gray-700">アカウント編集</h1>

<div class="py-8">
  <div class="flex justify-center bg-white border rounded shadow-md p-10">
    <div class="bg-white py-8 w-3/12 items-center">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div>
          <div class="flex justify-center">
            <%= f.label :icon, class: "text-sm font-medium" %>
          </div>

          <div class="flex flex-col pb-8">
            <%= f.label :name, class: "block text-sm font-medium mb-2" %>
            <%= f.text_field :name, class: "py-3 pl-4 pr-20 border block border-gray-300 rounded text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none", autofocus: true, autocomplete: "name" %>
          </div>

          <div class="flex flex-col pb-8">
            <%= f.label :email, class: "block text-sm font-medium mb-2" %>
            <%= f.email_field :email, class: "py-3 pl-4 pr-20 border block border-gray-300 rounded text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none", autofocus: true, autocomplete: "email" %>
          </div>

          <div class="flex flex-col pb-8">
            <%= f.label :password, class: "block text-sm font-medium mb-2" %>
            <%= f.password_field :password, autocomplete: "new-password", class: "py-3 pl-4 pr-20 border block border-gray-300 rounded text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" %>
          </div>

          <div class="flex flex-col pb-8">
            <%= f.label :password_confirmation, class: "block text-sm font-medium mb-2" %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "py-3 pl-4 pr-20 border block border-gray-300 rounded text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" %>
          </div>

          <div class="flex flex-col pb-8">
            <%= f.label :current_password, class: "block text-sm font-medium mb-2" %>
            <%= f.password_field :current_password, autocomplete: "current-password", class: "py-3 pl-4 pr-20 border block border-gray-300 rounded text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" %>
          </div>

          <div class="mt-8 flex justify-center space-x-2">
            <%= f.submit "更新", class: "block py-1 px-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded border border-transparent bg-yellow-900 text-white hover:bg-yellow-00 disabled:opacity-50 disabled:pointer-events-none cursor-pointer" %>
            <%= button_to "削除", registration_path(resource_name), data: { method: :delete, turbo_confirm: "本当に削除しますか？" }, class: "py-1 px-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded border border-transparent bg-red-900 text-white hover:bg-red-800 disabled:opacity-50 disabled:pointer-events-none" %>
          </div>
          <div class="mt-8 flex justify-center">
            <%= link_to "戻る", admin_path(@admin), class: "text-gray-500 hover:text-gray-600" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
