<div class="bg-white pt-10 flex">
  <%= form_with(model: admin, local: true) do |form| %>
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <%= form.label :email %>
      <%= form.text_field :email %>
    </div>

    <div class="field">
      <%= form.label :password %>
      <%= form.password_field :password %>
    </div>

    <div class="field">
      <%= form.label :password_confirmation %>
      <%= form.password_field :password_confirmation %>
    </div>

    <div class="field">
      <%= form.label :icon %>
      <%= form.file_field :icon %>
      <div>
        <% if @admin.icon.attached? %>
          <%= image_tag @admin.icon.variant(resize: '200x200') %>
        <% else %>
          <p>No image attached</p>
        <% end %>
      </div>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
</div>