<h1 class="text-3xl text-gray-700">アカウント</h1>

<%= flash[:notice] %>
<%= flash[:alert] %>

<div class="flex flex-col mt-16 pb-10">
  <div class="-m-1.5 overflow-x-auto">
    <div class="p-1.5 min-w-full inline-block align-middle">
      <div class="border overflow-hidden dark:border-gray-100 shadow-md rounded">
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-white">
            <tr>
              <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">アイコン</th>
              <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase"><%= sort_link(@q, :name, "名前") %></th>
              <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">メールアドレス</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
            <% if @admins %>
              <% @admins.each do |admin| %>
                <tr onclick="window.location='<%= admin_path(admin) %>'" class="hover:bg-gray-50 bg-white cursor-pointer">
                  <% if admin.icon.attached? %>
                    <td class="px-6 py-2 whitespace-nowrap text-sm font-medium text-gray-800">
                      <%= image_tag(admin.icon.variant(resize: '200x200'), class: "rounded-full w-12 h-12") %>
                    </td>
                  <% else %>
                    <td class="px-6 py-2 whitespace-nowrap text-sm font-medium text-gray-800">
                      <svg class="rounded-full w-12 h-12 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path fill-rule="evenodd" d="M18.685 19.097A9.723 9.723 0 0021.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 003.065 7.097A9.716 9.716 0 0012 21.75a9.716 9.716 0 006.685-2.653zm-12.54-1.285A7.486 7.486 0 0112 15a7.486 7.486 0 015.855 2.812A8.224 8.224 0 0112 20.25a8.224 8.224 0 01-5.855-2.438zM15.75 9a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z" clip-rule="evenodd" /></svg>
                    </td>
                  <% end %>
                  <td class="px-6 py-2 whitespace-nowrap text-sm text-gray-800"><%= admin.name %></td>
                  <td class="px-6 py-2 whitespace-nowrap text-sm text-gray-800"><%= admin.email %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
