<h1>管理者一覧</h1>

<%= flash[:notice] %>
<%= flash[:alert] %>

<table>
  <thead>
    <tr>
      <th><%= sort_link(@q, :id, "ID") %></th>
      <th><%= sort_link(@q, :name, "名前") %></th>
      <th>メールアドレス</th>
      <th>画像</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if @admins %>
      <% @admins.each do |admin| %>
        <tr>
          <td><%= link_to admin.name, admin_path(admin) %></td>
          <td><%= link_to admin.email, admin_path(admin) %></td>
          <% if admin.icon.attached? %>
            <td><%= link_to image_tag(admin.icon.variant(resize: '200x200')), admin_path(admin) %></td>
          <% else %>
            <td><p>No image attached</p></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to '管理者登録', new_admin_path %>
