<h1 class="text-3xl text-gray-700">アカウント設定</h1>
<div class="py-8">
  <div class="flex flex-col justify-center border rounded shadow-md p-20">
    <div class="flex justify-center py-8">
      <div class="w-3/12">
        <div class="flex flex-col pb-8">
          <p class="text-sm font-medium mb-2">名前</p>
          <p class="text-center py-3 border block w-full border-gray-300 rounded text-sm">
            <%= @admin.name %>
          </p>
        </div>
        <div class="flex flex-col pb-8">
          <p class="text-sm font-medium mb-2">メールアドレス</p>
          <p class="text-center py-3 border block w-full border-gray-300 rounded text-sm">
            <%= @admin.email %>
          </p>
        </div>
      </div>
    </div>
    <div class="flex justify-center space-x-1">
      <% if current_admin.id === @admin.id %>
        <%= link_to "編集", edit_admin_registration_path, class: "py-1 px-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded border border-transparent bg-yellow-900 text-white hover:bg-yellow-800 disabled:opacity-50 disabled:pointer-events-none" %>
        <%= link_to "削除", admin_path(@admin), class: "py-1 px-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded border border-transparent bg-red-900 text-white hover:bg-red-800 disabled:opacity-50 disabled:pointer-events-none" %>
      <% end %>
    </div>
    <div class="mt-8 flex justify-center">
      <%= link_to "戻る", admins_path, class: "text-gray-500 hover:text-gray-600" %>
    </div>
  </div>
</div>
