<h1>管理者情報詳細</h1>

<%= flash[:notice] %>

<p>
  <strong>画像:</strong>
  <div>
    <% if @admin.icon.attached? %>
      <%= image_tag @admin.icon.variant(resize: '200x200') %>
    <% else %>
      <p>No image attached</p>
    <% end %>
  </div>
</p>

<p>
  <strong>名前:</strong>
  <%= @admin.name %>
</p>  

<p>
  <strong>メールアドレス:</strong>
  <%= @admin.email %>
</p>

<%= link_to '編集', edit_admin_path(@admin) %> |
<%= link_to '削除', admin_path(@admin), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか?' } %> |
<%= link_to '戻る', admins_path %>
