<h1 class="text-3xl text-gray-700">顧客</h1>

<div class="inline-flex items-center space-x-2 mt-10 text-gray-700 hover:text-gray-500">
  <svg class="flex-shrink-0 w-5 h-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke-linecap="round" stroke-linejoin="round" d="M19 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zM4 19.235v-.11a6.375 6.375 0 0112.75 0v.109A12.318 12.318 0 0110.374 21c-2.331 0-4.512-.645-6.374-1.766z" /></svg>
  <%= link_to "顧客登録", new_customer_path %>
</div>

<div class="flex flex-col mt-3 pb-10">
  <div class="-m-1.5 overflow-x-auto">
    <div class="p-1.5 min-w-full inline-block align-middle">
      <div class="border overflow-hidden dark:border-gray-100 shadow-md rounded">
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-white">
            <tr>
              <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase"><%= sort_link(@q, :id, "ID") %></th>
              <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase"><%= sort_link(@q, :name, "名前") %></th>
              <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">電話番号</th>
              <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">備考</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
            <% if @customers %>
              <% @customers.each do |customer| %>
                <tr onclick="window.location='<%= customer_path(customer) %>'" class="hover:bg-gray-50 bg-white cursor-pointer">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800"><%= customer.id %></td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800"><%= customer.name %></td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800"><%= customer.phone_number %></td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800"><%= customer.remarks %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
