<h1>顧客情報一覧</h1>

<%= flash[:notice] %>
<%= flash[:alert] %>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>名前</th>
      <th>電話番号</th>
      <th>備考</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% if @customers %>
      <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.id %></td>
          <td><%= customer.name %></td>
          <td><%= customer.phone_number %></td>
          <td><%= customer.remarks %></td>
          <td><%= link_to '表示', customer %></td>
          <td><%= link_to '編集', edit_customer_path(customer) %></td>
          <td><%= link_to '削除', customer_path(customer), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to '新規作成', new_customer_path %>
