<h1>顧客情報一覧</h1>

<%= flash[:notice] %>
<%= flash[:alert] %>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>名前</th>
      <th>電話番号</th>
      <th>備考</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% if @customers %>
      <% @customers.each do |customer| %>
        <%= link_to customer do %>
          <tr>
            <td><%= link_to customer.id, customer_path(customer) %></td>
            <td><%= link_to customer.name, customer_path(customer) %></td>
            <td><%= link_to customer.phone_number, customer_path(customer) %></td>
            <td><%= link_to customer.remarks, customer_path(customer) %></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to '顧客登録', new_customer_path %>
