<h1>顧客情報詳細</h1>

<%= flash[:notice] %>

<p>
  <strong>名前:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>電話番号:</strong>
  <%= @customer.phone_number %>
</p>

<p>
  <strong>備考:</strong> 
  <%= @customer.remarks %>
</p>

<p><th><%= sort_link(@q, :updated_at, "更新日時") %></th></p>
<p><th><%= sort_link(@q, :created_at, "作成日時") %></th></p>
<p>
  <strong>来店履歴:</strong>
  <% @customer_visit_histories.each do |customer_visit_history| %>
    <p><%= customer_visit_history.visit_datetime %></p>
    <p>作成日時：<%= customer_visit_history.created_at %></p>
    <% customer_visit_history.selected_menu_snapshots.sort_by(&:name_at_time).each do |selected_menu_snapshot| %>
      <p><%= selected_menu_snapshot.name_at_time %></p>
      <p><%= selected_menu_snapshot.price_at_time %></p>
    <% end %>
    <%= link_to '編集', edit_customer_visit_history_path(customer_visit_history.id) %> |
    <%= link_to '削除', customer_visit_history_path(customer_visit_history.id), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか?' } %> |    
  <% end %>
</p>

<%= link_to '編集', edit_customer_path(@customer) %> |
<%= link_to '削除', customer_path(@customer), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか?' } %> |
<%= link_to '戻る', customers_path %>
