<!DOCTYPE html>
<html>
  <head>
    <title>CustomerManagmentApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <ul>
      <li><%= link_to '管理者一覧', admins_path %></li>
      <li><%= link_to '顧客一覧', customers_path %></li>   
      <li><%= link_to 'メニュー一覧', menus_path %></li>
      <li><%= link_to '来店履歴作成', new_customer_visit_history_path %></li>
    </ul>
    <%= yield %>
  </body>
</html>
